@charset "UTF-8";

*{
	list-style: none;  /* 점 없애기 */
	text-decoration: none;  /* a태그 밑줄 색변경 x */
	border-collapse: collapse; /* teble 줄 한줄로 */
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', sans-serif;
}

p{
	display: inline;
	margin-left: 20px;
}

a{
	cursor: pointer;
}

/* 중고판다 로고 */
#logo_div{
	overflow: hidden;
	width: 1400px;
	height: 140px;
	/* border: 1px solid black; */
	margin:auto;
	margin-bottom: 70px;
}

/* 로그인 a태그 */
.login_a{
	font-size: 16px;
	float: left;
	margin-left: 800px;
	overflow: hidden;
	font-weight: 900;
	margin-top: 0%;
}

#login_a2{
	font-size: 16px;
	float: left;
	margin-left: 638px;
	font-weight: 900;
	margin-top: 0%;
}

#logout_a{
	font-size: 16px;
	float: left;
	font-weight: 900;
	margin-left: 9px; /* 원래 2px */
	/* margin-top: -7px; */
	text-decoration: underline;
	
}
/* 문의게시판 a태그*/
#board_a{
	font-size: 16px;
	float: left;
	font-weight: 900;
	margin-left: 29px;
}

#board_a2{
	font-size: 16px;
	float: left;
	font-weight: 900;
	margin-left: 30px;
	/* margin-top: -7px; */
}

#logo_img{
	width: 347px;
	height: 112px;
	margin-bottom: 10px;
	margin-top: 15px;
	float: left;
	cursor: pointer;
}

#view_div{
	width: 1000px;
	height: 700px;
	/* border: 1px solid silver; */
	margin: auto;
	background-color: #FFFFFF;
	height: auto;
}

.commu_header{
	width: 1000px;
	height: 2px;
	background-color: #333D79;
	margin-bottom: 20px;
}

#title_p{
	font-weight: 900;
	font-size: 17px;
}

#content_pre{
	padding: 70px 0px;
	margin-left: 20px;
}

hr{
	height: 1px;
	border: none;
	background-color: silver;
}

#delete_input{
	margin-left: 785px;
	border: 1px solid silver;
	width: 150px;
	height: 30px;
	border-radius: 2px;
}

#delete_button{
	padding: 5px 10px;
	border: none;
	outline: 0;
	background-color: #333333;
	color: white;
	font-weight: 700;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 10px;
}

#com_p{
	font-weight: 900;
	font-size: 20px;
}

#answer_text{
	 resize: none;
    margin-top:6px;
    margin-left: 20px;
    padding: 10px;
    width: 970px;
    height: 300px;
    border: 2px solid silver;
    font-size: 15px;
    border-radius: 2px;
}

#insert_button{
	margin-top: 5px;
	margin-left: 885px;
	padding: 7px 40px;
	border: none;
	background-color: #333333;
	color: white;
	font-weight: 700;
	cursor: pointer;
	border-radius: 3px;
}































